---

---

<html lang="en">
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/interviews/">Interviews</a>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The FOURTEEN Project</title>
	</head>
	<body>
		<h1>The FOURTEEN Project</h1>
		<p>
			Welcome to the FOURTEEN Project! This is a initiative that encourages teens and kids to use technology safely and responsibly.
			FOURTEEN, plays with the idea of the age of 14, which is often considered a pivotal age for teens to start exploring technology more independently, learning about digital citizenship, and understanding the importance of online safety. We want to empower them to make informed decisions and use technology in a way that is beneficial for their future, using technology as a tool that can help them grow.
		</p>
		<h2>
			The project's goals
		</h2>
		<ul>
			<li>Promote digital literacy and online safety for teens and kids.</li>
			<li>Encourage responsible use of technology.</li>
			<li>Provide resources and support for parents and educators.</li>
			<li>Foster a community of young tech enthusiasts.</li>
			<li>Inspire teens to use technology as a tool for personal growth and development.</li>
		</ul>
		<h2>
			How to get involved
		</h2>

	</body>
</html>
