---

---

<html lang="en">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/interviews/">interviews</a>

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The FOURTEEN Project</title>
	</head>
	<body>
		<h1>Interviews</h1>
		<p>
			The FOURTEEN Project was awarded a Rise For The World winning project in 2022. Founded by Sofía Islas, a Paraguayan girl who was impacted by an awkward situation with a stranger online, the project aims to empower teens and kids to use technology safely and responsibly. 
		</h2>
		<ul>
			<li>Promote digital literacy and online safety for teens and kids.</li>
			<li>Encourage responsible use of technology.</li>
			<li>Provide resources and support for parents and educators.</li>
			<li>Foster a community of young tech enthusiasts.</li>
			<li>Inspire teens to use technology as a tool for personal growth and development.</li>
		</ul>
		<h2>
			How to get involved
		</h2>
		
	</body>
</html>
